* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: #ED4D1B;
    --color-secondary: #FF9a3c;
    --color-black: #000;
    --color-white: #FFF;
}

body {
    background: linear-gradient(90deg, #ffe7d1 0%, #FFF2e6 100%);
    padding: 0 1rem;
}

header,.hero-section, .courses-section, footer {
    border-color: var(--color-black);
    border-style: solid;
    border-width: 0 1px 1px 1px;
    padding: 1.25rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-primary {
    color: var(--color-primary);
}

.text-center {
    text-align: center;
}

